body{
    font-family: 'Concert One', cursive;
    color: #008080;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
}
.gradient{
    background-color: purple;
    background-repeat: no-repeat;
    background-image: url("baby_pic.jpg");
    background-position: right;
}
#date{
    text-align: center;
    margin-top: 10%;
    font-size: 80px;
    
}
#registry{
    color: grey;
    text-align: center;
}